@font-face { 
    font-family: Roboto;
    src: url('/resources/Roboto-Medium.ttf');
	font-weight: 500;
}

@font-face {
	font-family: Roboto;
	src: url('/resources/Roboto-Regular.ttf');
	font-weight: 400;
}


* {box-sizing: border-box;	font-family: 'Roboto', sans-serif;}

html {
	border-radius: 0px;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12)
}

body {
	padding: 0;
	margin: 0;
	font-weight: 400;
}

.popup-body {
	position: relative;
	overflow: hidden;
}

.popup-section {
	height: 140px;
	width: 250px;
	transition: transform .3s;
	transition-timing-function: ease-out;

}

.main-section.left {
	transform: translate(-100%,0);
}

.main-section.up {
	transform: translate(0, -100%);
}

button {
	font-family: inherit;
	font-weight: 500;
	border: 0;
	outline: 0;
	padding: 0;
	border-radius: 2px;
	letter-spacing: .010em;
	text-transform: uppercase;
	font-size: 14px;
	background: transparent;
	transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.comment-bar {
	display: inline-block;
	width: 100%;
}

.btn-bar {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.text-btn {
	height: 32px;
	width: 80px;
	margin: 5px 5px;
}

.long-btn {
	width: auto;
	padding: 0 10px
}

.submit-btn {
	display: inline-block;
	vertical-align: top;
	height: 32px;
	width: 32px;
	margin: 5px 5px;
}

.options-btn {
	display: inline-block;
	vertical-align: top;
	height: 32px;
	width: 32px;
	margin: 5px 5px;
	border-radius: 1rem;
}

.options-btn span {
	display: inline-block;
	vertical-align: middle;
	line-height: 14px;
}

.gear-icon {
	display: inline-block;
	vertical-align: middle;
	line-height: 14px;
}

.groups-btn {
	display: inline-block;
	vertical-align: top;
	height: 32px;
	width: 32px;
	margin: 5px 5px;
	border-radius: 1rem;
	float: right;
}

.top-bar {
	border-radius:2px;
}


.groups-btn span {
		display: inline-block;
}

.groups {
	float: right;
}

.main-section img {
	opacity: 0.5;
}

.groups-label {
	line-height: 37px;
	font-size: 15px;
	margin: 10px;
	opacity: 0.5;
}

.groups-icon {
	display: inline-block;
	vertical-align: middle;
	line-height: 14px;
}

button:hover, button:active {
	background-color: rgba(0, 0, 0, .1);
}

button:active {
	background-color: rgba(0, 0, 0, .2);
}

.time-label, .char-label {
	margin: 1px 5px;
}

.char-label {
	display: block;
	transition: color .1s;
}

.full-char-label {
	color: #D32F2F;
}

.login-overlay {
	top: 0;
	left: 0;
	height: 140px;
	position: absolute;
	text-align: center;
	background-color: white;
	font-size: 1rem;
	font-weight: 400;
	transition: opacity .4s ease-out;
	opacity: 1

}
.login-overlay.loading {
	opacity: 0;
}

.google-btn {
	padding: 0 6px 0 0;
	border-radius: 2px;
	background-color: #eee;
	display: inline;
	text-transform: none;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 2px 2px rgba(0,0,0,0.23);
	

}
.google-btn:hover {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 4px 4px rgba(0,0,0,0.23);

}

.google-btn img {
	padding: 0;
	margin: 0;
	vertical-align: middle;
	text-align: left;

}
.google-btn div {
	color: #333;
	display: inline-block
}

.options-section {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(100%, 0);
}

.options-section.left {
	transform: translate(0,0);
}

.groups-section {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(0, 100%);
}

.groups-section.up {
	transform: translate(0,0);
}

.input-field {
	width: 100%;
	margin: 5px auto;
	padding: 4px 6px;
	outline: 0;
	border: 0;
	border-bottom: 2px solid #f3f3f3;
	transition: border-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.input-field:focus {
	border-color: #D32F2F;
}

.comment-field {
	display: inline-block;
	width: 60%;
	margin: 0 auto;

}