// scoped css for options page
.options-page {

    .option-block {
        margin: 4px 4px
    }

    #notifications-icon-off {
        position: absolute;
    }

    .settings-icon {
        transition: all .3s
    }

    .icon-hide {
        opacity: 0;
    }
}