.groups-page {

  .row-top {
    height: 50px;
  }

  .up-btn {
    position: absolute;
    top:0; right:0;
  }

  .add-btn {
    position: absolute;
    top: 0; left: 0;
    transition: transform .3s;

    &.open {
      transform: rotate(45deg)
    }
  }

  .add-input {
    position: absolute;
    top: 0; left: 0; right: 0;
    opacity: 0;
    transition: all .4s;
    width: 200px;
    height: 28px;
    margin: auto;
    margin-top: 10px;

    &.show {
      opacity: 1;
    }
  }

  .groups-list {
    overflow-y: scroll;
    height: 155px;
    margin-top: 45px;
  }

  .scroll::-webkit-scrollbar {
    width: 5px;
  }

  .scroll::-webkit-scrollbar-track {
    background: #ddd;
  }

  .scroll::-webkit-scrollbar-thumb {
    background: #666;
  }

  .preloader-wrapper {
    width: 20px;
  }

  .complete {
    height: 0px;
    padding: 0px;
  }

  //.groups-list .list-item {
  //  display: flex;
  //  flex-direction: row;
  //  padding: 3px;
  //  min-height: 35px;
  //  transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  //  justify-content: flex-start;
  //}

  &.left {
    transform: translate(-100%,0);
  }
  
  create-group {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(100%, 0);

    &.left {
    transform: translate(0,0);
    }
  }
}